/*Google Fonts*/
.unifrakturcook-bold {
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}

.diplomata-regular {
  font-family: "Diplomata", serif;
  font-weight: 400;
  font-style: normal;
}

/*Roots*/
:root{
  --first-color: rgba(190, 158, 92, 1);
  --first-color-alt:#f9efd9;
  --second-color: rgba(116, 124, 124, 1);
  --second-color-alt:#ececed;
  --dark-background:#100f11;
  --white-color: whitesmoke;
  --grey-color:#c4c5c8;
  --black-color: rgba(50, 55, 57, .5);
  --header-font: "UnifrakturCook", cursive;
  --body-font: "Diplomata", serif;
  --h1-font-size: 1.5em;
  --h2-font-size: 1.3em;
  --h3-font-size: .9em;
  --h4-font-size: .875em
  --p-font-size: 16px
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--dark-background);
}

input, button{
  background: none;
  border: none;
  outline: none;
}

h1, h2, h3, h4{
  line-height: 150%;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

/*Header*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 10;
  transition: background-color .4s, box-shadow .4s;
  padding: 0 10px 0 10px;
}

h1{
  font: var(--header-font);
  font-size: var(--h1-font-size);
  font-weight: 700;
  color: var(--first-color);
}

h2{
  font: var(--header-font);
  font-size: var(--h2-font-size);
  font-weight: 400;
  color: var(--second-color);
}

h3{
  font: var(--body-font);
  color: var(--white-color);
  font-size: var(--h3-font-size);
}

h4{
  font: var(--body-font);
  color: var(--first-color-alt);
  font-size: var(--h4-font-size);
  padding-bottom: 10px;
}

/*Navigation Bar*/
.nav{
  position: relative;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo{
  color: var(--first-color);
  font-family: var(--first-font);
  font-weight: 700;
  transition: color .4s;
  font-size: var(--h1-font-size);
}

.nav-toggle{
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
  transition: color .4s;
  float: right;
  padding: 0 10px 0 0;
}

/*Navigation for mobile devices*/
  .nav-menu{
    position: fixed;
    top: 0;
    right: -120%;
    background-color: var(--dark-background);
    width: 100%;
    height: 100%;
    box-shadow: -8px 0 16px hsla(0, 0%, 0%, .15);
    padding: 7rem 0 2rem 2rem;
    z-index: 100;
    transition: right .4s;
  }
  
  button.nav-toggle{
    color:var(--grey-color);
  }

.nav-list{
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
}

.nav-link{
  color: var(--first-color-alt);
  font-weight: 300;
  transition: color .4s;
}

.nav-link:hover{
  color: var(--first-color);
}

.nav-button{
  background-color: var(--second-color);
  padding: 1rem 2rem;
  border-radius: 5rem;
  display: inline-flex;
  transition: background-color .4s;
  color: var(--grey-color);
}

.nav-button:hover{
  background-color: var(--second-color-alt);
  color: var(--dark-background);
}

.nav-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color:var(--grey-color);
  cursor: pointer;
}

.nav-toggle{
  color: var(--grey-color);
}

/*Show menu*/
.show-menu{
  right: 0;
}

/*Change Header Styles*/
.scroll-header{
  background-color: var(--dark-background);
  box-shadow: 0 8px 16px hsla(0, 0%, 0%, .15);
}

/*Main*/
main{
  position: absolute;
  top: 50px;
}

/*Introduction*/
h3.introduction{
  color: var(--white-color);
  font-size: 3em;
  text-align: center;
  padding-bottom: 25px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

span.bold-text{
  color: var(--first-color);
  font-style: italic;
}

p.introduction{
  color: var(--grey-color);
  padding: 0 10px 50px 10px;
}

/*Button Section*/
.button-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-section button {
  color: var(--white-color);
  padding: 15px 10px;
  margin-bottom: 5px;
  border-radius: 1em;
  font-weight: 600;
}

.button-section .active{
  background-color: var(--first-color);
}

.button-section .platform{
  border: .1px solid var(--first-color);
}

.button-section .active:hover {
  background-color: var(--first-color-alt);
  color: var(--black-color);
}

.button-section .platform:hover {
  border: .1px solid var(--first-color-alt);
  color: var(--first-color);
}

/*Episode Section*/
h3.episode-subtext{
  color: var(--white-color);
}

.episode-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px;
}

.episode-card{
  max-width: 200px;
  background-color: var(--dark-background);
  padding: 10px;
  box-shadow: 5px 5px 10px;
  border: 1px solid var(--first-color-alt);
  border-radius: 10px;
}

.episode-card:hover{
  box-shadow: 5px 5px 10px;
  border: 1px solid var(--first-color);
}

.episode-category{
  color: var(--first-color-alt);
  float: left;
  background-color: var(--second-color);
  padding: 5px;
  border-radius: 50px;
  font-size: 12px;
}

.episode-date{
  color: var(--second-color);
  font-size: 10px;
  padding: 5px;
  float: right;
}

.episode-title{
  color: var(--first-color);
  font-size: 16px;
  padding: 30px 10px 5px 5px;
  font: var(--header-font);
  font-weight: 600;
}

.episode-description{
  color: var(--second-color-alt);
  padding: 10px;
  font-size: 14px;
}

button.episode-link{
  float: right;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: var(--first-color);
}

button.episode-link:hover{
  background-color: var(--black-color);
  color: var(--first-color);
}

button.episode-link a{
  color: var(--background-color);
}

/*The Circle Section*/

/*Grimore Setion*/

/*For Medium devices*/
@media (width >= 540px){
  
}

/* For Large Devices*/
@media (width >= 650px){
  .container{
    margin-inline: auto;
  }
  
  .section{
    padding-block: 7rem 5rem;
  }
  
  .nav{
    height: calc(var(--header-height) + 2rem);
  }
  
  .nav-list{
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  
  .nav-link{
    color: var(--white-color);
  }
  
  .nav-button{
    color: var(--title-color);
  }
  
  .nav-menu{
    width: 300px;
    padding: 3.5rem 1rem 0 1rem;
  }
  
  /*Change header Style*/
  .scroll-header .nav-link{
    color: var(--title-color);
  }
}